@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top:70px;
}

 label{
   margin-top:10px;
 }

 .form-control {
   height:40px;
 }

 img{
   max-width:100%;
 }

 .gallery_image{
   margin-bottom:10px;
 }